*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

.grid{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    column-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, max-content); /* max-content dinámico */
}

.card{
    box-shadow: 0 0 3px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 20px;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1/-1;
}

.card__img{
    grid-row: 1/2;
    width: 100%;
    height: 250px;
    background-image: url(/assets/img/ipad.jpg);
    background-size: cover;
    background-position: center;
}

.card:nth-of-type(2) .card__img{
    background-image: url(/assets/img/macbook.jpg);
}

.card:nth-of-type(3) .card__img{
    background-image: url(/assets/img/iphone.jpg);
}

.card__title{
    padding: 20px 15px 10px;
    align-self: end;
}

.card__paragraph{
    padding: 0 15px 20px;
    align-self: center;
}

.card__cta{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: .5em 2em;
    background-color: #421070;
    align-self: center;
    justify-self: center;
}